body {
    width: 100%;
    background-image: url(AOE2.jpg);
}

.wrapper {
    background-color: black;
    width: 40%;
    margin: 0 auto;
    margin-top: 15%
}

.team-style {
    color: white;
    size: 50px;
    margin-left: 30px;
}


button {
    display: block;
    margin: 0 auto;
}